body {
  margin: 0;
}

html {
  overflow: hidden;
}

#سماء{  
  position: absolute;
  width: 100%;
  height: 50%;
  background: lightblue;
}

#بحر{
  position: absolute;
  width: 100%;
  height: 50%;
  bottom: 0;
  background: blue;
}