body {
  margin: 0;
}

html {
  overflow: hidden;
}


#lucht {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50%;
  background: lightblue;
  animation: lucht 10s infinite;
}

@keyframes lucht {
  0%   {background:black;}
  33%  {background:lightblue;}
  66%  {background:lightblue;}
  100%  {background:black;}
}

#zee {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50%;
  background: blue;
}

#zon {
  position: absolute;
  left: 0;
  top: 120%;
  width: 100px;
  height: 100px;
  animation: zonsopkomst 10s infinite;
}

@keyframes zonsopkomst {
  0%   {left:0; top:120%;}
  33%  {left:40%; top:0;}
  66%  {left:40%; top:0;}
  100%  {left:80%; top:120%;}
}

#boot {
  position: absolute;
  left: -50%;
  top: 30%;
  width: 200px;
  height: 80px;
  animation: links-rechts 20s infinite;
}

@keyframes links-rechts {
  0%    {left:-50%;}
  100%  {left:200%;}
}

#regenboog {
  position: absolute;
  left: 0;
  width: 200px;
  animation: vervagen 10s infinite;
}

@keyframes vervagen {
  0%   {opacity: 0;}
  50%  {opacity: 100;}
  66%  {opacity: 0;}
  100%   {opacity: 0;}
}

